.custom-pages-container {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row wrap;
    padding: 2rem 0;
    width: 90%;
    margin: 0 auto;
    justify-content: space-around;
}

.custom-pages-container .elegant-card {
    min-width: 275px;
    max-width: 275px;
    text-align: center;
    padding: 50px 20px;
    color: #7d7d7d;
    font-size: 17px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 30%;
    -webkit-perspective: none!important;
    perspective: none!important;
    margin: 8px 8px 20px;
    text-decoration: none;
    background: #37a7a2;
    border-radius: 10px;
}

.z-depth-1 {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.hoverable:hover {
    transition: box-shadow .25s;
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
    text-decoration: none;
}

.custom-pages-container .elegant-card span {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font: 14px/1 'Open Sans', sans-serif;
    color: #555;
    background: #eee;
}

h1 {
    padding: 50px 0;
    font-weight: 400;
    text-align: center;
}

p {
    margin: 0 0 20px;
    line-height: 1.5;
}

main {
    min-width: 320px;
    max-width: 800px;
    padding: 50px;
    margin: 0 auto;
    background: #fff;
}

section {
    display: none;
    padding: 20px 0 0;
    border-top: 1px solid #ddd;
}

input {
    display: none;
}

label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    color: #bbb;
    border: 1px solid transparent;
}

label:before {
    font-family: fontawesome;
    font-weight: normal;
    margin-right: 10px;
}

label[for*='1']:before {
    content: '\f1cb';
}

label[for*='2']:before {
    content: '\f17d';
}

label[for*='3']:before {
    content: '\f16b';
}

label[for*='4']:before {
    content: '\f1a9';
}

label:hover {
    color: #888;
    cursor: pointer;
}

input:checked + label {
    color: #555;
    border: 1px solid #ddd;
    border-top: 2px solid orange;
    border-bottom: 1px solid #fff;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
    display: block;
}

@media screen and (max-width: 650px) {
    label {
        font-size: 0;
    }

    label:before {
        margin: 0;
        font-size: 18px;
    }
}
@media screen and (max-width: 400px) {
    label {
        padding: 15px;
    }
}
